body {
    color: #40514e;
    background: #D2E0FB;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
  }
   .first-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
  }
  h1 {
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
   
  }
          h2 {
    color: #66bfbf;
    
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  }
  .cloud-1{
              position: absolute;
              right: 300px;
              top: 40px;
          }
   .cloud-2{
              position: absolute;
              left: 250px;
              bottom: 300px;
          }
   .pro {
    text-decoration: underline;
    color: rgb(102, 175, 175);
  }
  .pro:hover{
      cursor: pointer;
      text-transform: uppercase;
      transition: 5ms  ease;
      color:skyblue;
      
  }
  .profile-pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid skyblue;
    
  }
  .second-container{
    
    padding-top: 100px;
    padding-bottom: 100px;
   
  }
  .profile-text{
    font-family: 'Pacifico', cursive;
    width: 40%;
    margin: auto;
    color: #1e1d15;
  }
  hr{
    border: dotted #8cf0f0 6px;
    border-bottom: none;
    margin:  auto;
    width: 2%;
  }
 

  .final-text{
    font-family: 'Pacifico', cursive;
    color: #1e1d15;
  }
 .last-text{
  padding: 50px 0;
  margin: auto;
  width: 30%;
 }
 .btn{
  margin-top: 100px;
  padding: 10px;
  background: skyblue;
  border-radius: 5%;
  font-size: 1.2rem;
  border: #065c78;
  color: white;
  text-decoration: none;
 }
 .footer-items{
  padding: 50px 0;
  background-color: #065c78;
  margin-top: 100px;
  color: #8cf0f0;

 }
.footer-items > a{
  padding: 20px;
  text-decoration: none;
  color: white;
}


  @media(max-width:600px) 
  {
    body{
       text-align: center;
       width: 100%;
    }
    .first-container{
    width: 100%;
    }
    h1{
      font-size: 3.5rem;
      width: 100%;
    }
    h2{
      font-size: 1.2rem;
      width: 100%;
    }
    .mountain{
     width: 100%;
    }
    .cloud-1{
      width: 100px;
      position: absolute;
              right: 200px;
              top: 40px;
    }
    .cloud-2{
                width: 100px;
              position: absolute;
              left: 230px;
              bottom: 200px;
          }
    .second-container{
      max-width: 100%;
    }
    .profile-text{
      width: 70%;
    }

   hr{
    width: 2%;
   }

   .last-container{
    width: 100%;
   }
   .last-text{
    width: 80%;
   }
   .final-text{
    width: 80%;
    margin: 50px;
   }
   #nav-bar{
  width: 100%;
   }
   #nav-bar ul{
 width: 100%;
   }
   #nav-bar ul li a{
    margin: 0;
    padding: 0;
   }
 
  }


  .gradient-background {
    background: linear-gradient(300deg, #00bfff,#f3e7b1,rgb(217, 233, 240));
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
#main-skill{
  display: flex;
  flex-wrap: wrap;
 
}
.development{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  background: url(./bg2.jpg) no-repeat ;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  color: #d4f4ff;
  flex: 1;
  font-family: 'Poppins';
  box-shadow: 5px 8px 7px#4a8b92;
}

.skill{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;padding: 0;
  color: #bde0e0;
  font-family: 'Poppins';
}
#html, #CSS , #JS , #react{
  width: max-content;
  padding: 8px;
  border-radius: 7px;
  border: 1px solid black;
  background: rgba(0,0,0,0.4);
}
 #html{
  border: 1px solid rgb(11, 255, 11);
 }
 #JS{
  border: 1px solid goldenrod;
 }
 #react{
  border: 1px solid salmon;
 }
#node, #express, #ejs{
  width: max-content;
  padding: 8px;
  border-radius: 7px;
  border: 1px solid black;
  background: rgba(0,0,0,0.4);
  font-family: 'Poppins';
}
#node {
  border: 1px solid cyan;
}
#ejs{
  border: 1px solid rgb(157, 65, 243);
}
#express{
  border: 1px solid red;
}
#c, #c1, #java , #python{
  width: max-content;
  padding: 8px;
  border-radius: 7px;
  border: 1px solid black;
  background: rgba(0,0,0,0.4);
}
#java{
  border: 1px solid salmon;
}
#python{
  border: 1px solid goldenrod;
}
#c{
  border: 1px solid red;
}
#mysql, #postgres, #MariaDb, #Orcale{
  width: max-content;
  padding: 8px;
  border-radius: 7px;
  border: 1px solid black;
  background: rgba(0,0,0,0.4);
}
#mysql{
  border: 1px solid goldenrod;
}
#postgres{
  border: 1px solid salmon;
}
#Orcale{
  border: 1px solid red;
}
.skill-title{
  font-size: 1.4rem;
  color: #04463a;
}
  #nav-bar{
    background:rgb(7, 131, 179);
    color: #00bfff;
  }
  #nav-bar ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
   padding: 0;
    justify-content: space-around;
  }
  #nav-bar ul li{
    list-style: none;
  }
  #nav-bar ul li a{
    text-decoration: none;
    color: #c0efff;
    display: block;
    cursor: pointer;
    padding: 9px 9px;
  }
  li a:hover{
  opacity: 0.8;
  background: #01606b;
  }
 
