body {
    color: #40514e;
    background: #D2E0FB;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
  }
   .first-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
  }
  h1 {
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
  }
          h2 {
    color: #66bfbf;
    
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  }
  .cloud-1{
              position: absolute;
              right: 300px;
              top: 40px;
          }
   .cloud-2{
              position: absolute;
              left: 250px;
              bottom: 300px;
          }
   .pro {
    text-decoration: underline;
    color: rgb(102, 175, 175);
  }
  .pro:hover{
      cursor: pointer;
      text-transform: uppercase;
      transition: 5ms  ease;
      color:skyblue;
      
  }
  .profile-pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid skyblue;
    
  }
  .second-container{
    
    padding-top: 100px;
    padding-bottom: 100px;
   
  }
  .profile-text{
    font-family: 'Pacifico', cursive;
    width: 40%;
    margin: auto;
    color: #1e1d15;
  }
  hr{
    border: dotted #8cf0f0 6px;
    border-bottom: none;
    margin:  auto;
    width: 2%;
  }
  .third-container{
       padding-top: 100px;
       padding-bottom: 100px;
       width: 100%;
  }
  .skill-box{
    /* border: 1px dashed #516a6a; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    border-radius: 5px;
   
  }
 .skill-list{
  list-style: none;
  font-family: 'Playpen Sans', cursive;
  font-size: 1.4rem;
  
 }
  .skill{
   
    border-radius: 5%;
    background-color:  transparent;
    color: #1e1d15;
 
    
  }
 
  .skill-img{
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
  }
  .skill-img > img{
    height: 30px;
    border: 1px solid white;
    padding: 15px;
    border-radius: 25%;
    background: rgba(172, 170, 170, 0.1);
  }
  .skill-img > h2{
    font-size: 2.2rem;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    
  }
  .final-text{
    font-family: 'Pacifico', cursive;
    color: #1e1d15;
  }
 .last-text{
  padding: 50px 0;
  margin: auto;
  width: 30%;
 }
 .btn{
  margin-top: 100px;
  padding: 10px;
  background: skyblue;
  border-radius: 5%;
  font-size: 1.2rem;
  border: #065c78;
  color: white;
  text-decoration: none;
 }
 .footer-items{
  padding: 50px 0;
  background-color: #065c78;
  margin-top: 100px;
  color: #8cf0f0;

 }
.footer-items > a{
  padding: 20px;
  text-decoration: none;
  color: white;
}

  @media(max-width:600px) 
  {
    body{
       text-align: center;
       width: 100%;
    }
    .first-container{
    width: 100%;
    }
    h1{
      font-size: 3.5rem;
      width: 100%;
    }
    h2{
      font-size: 1.2rem;
      width: 100%;
    }
    .mountain{
     width: 100%;
    }
    .cloud-1{
      width: 100px;
      position: absolute;
              right: 200px;
              top: 40px;
    }
    .cloud-2{
                width: 100px;
              position: absolute;
              left: 230px;
              bottom: 200px;
          }
    .second-container{
      max-width: 100%;
    }
    .profile-text{
      width: 70%;
    }
    .third-container{
      width: 100%;
    }
   .skill-box{
    flex-direction: column;
    gap: 40px;
    max-width: 100%;
    justify-content: center;
    
   
   }
   hr{
    width: 2%;
   }
   .skill-list{
    max-width: 100%;
   }
   .skill{
    max-width: 100%;
   }
   .last-container{
    width: 100%;
   }
   .last-text{
    width: 80%;
   }
   .final-text{
    width: 80%;
    margin: 50px;
   }
  

  }
  /* @media (max-width:450px) and (min-width:300px)
  {
    .cloud-2{
      width: 100px;
              position: absolute;
              left: 30px;
              bottom: 250px;
    }
  } */

  .gradient-background {
    background: linear-gradient(300deg, #00bfff,#f3e7b1,rgb(217, 233, 240));
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }